@font-face {
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/LibreFranklin.woff2') format('woff');
}

html {
    overflow: overlay;
}


body, html {
    margin: 0px;
    padding: 0px;
    width: 100%;
    min-width: 360px;
    min-height: 100%;
    min-height: 500px;
    font-size: 14px;
}

body {
    color: rgb(100, 100, 100) !important;
    font-family: Arial, Libre Franklin, Arial, Helvetica, sans-serif !important;
    background-color: rgb(245, 245, 245) !important;
    display: flex;
    justify-content: start;
    min-height: 100vh;
    align-items: center;
    overflow-y: overlay;
}

table {
    font-size: 14px;
}

#navigation-bar {
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    padding: 0px;
    min-height: 100vh;
    width: 200px;
    margin-top: -20px;
}

#navigation-bar a,
#navigation-bar a:hover,
#navigation-bar a:active {
    color: inherit;
    text-decoration: none;
}

#navigation-bar .logo_container {
    margin: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(0, 0, 0, 0.15);
}

#navigation-bar .logo_container .logo {
    height: 40px;
    margin-right: 10px;
}

#navigation-bar .logo_container #toggle_button {
    display: none;
}

#navigation-bar .app_name {
    color: #000;
    font-size: 16px;
    font-weight: 600;
    display: inline-block;
    vertical-align: middle;
    margin: auto;
}

#navigation-bar .menu {
    margin-top: 20px;
    list-style-type: none;
}

#navigation-bar .menu::before {
    content: "Quản lý";
    color: rgb(150, 150, 150);
    font-weight: bold;
    font-size: 14px;
    margin-left: 30px;
}

#navigation-bar .menu {
    padding: 0px;
}

#navigation-bar .menu li {
    color: rgba(0, 0, 0, 0.7);
    margin: 0px;
    padding: 3px 20px;
}

#navigation-bar .menu li:hover {
    background: rgba(0, 0, 0, 0.05);
    color: rgb(0, 0, 0, 1);
}

#navigation-bar .menu li.selected {
    color: rgba(0, 0, 0, 0.9);
    background: rgba(0, 0, 0, 0.05);
    font-weight: bold;
    border-right: 4px solid rgb(75, 120, 255);
}

#navigation-bar .menu img {
    width: 25px;
    height: 25px;
    border-radius: 15px;
    padding: 2px;
    margin-right: 10px;
    margin-left: 2px;
    filter: brightness(50%);
}

#navigation-bar .menu a:hover li img {
    filter: brightness(0%);
}

#navigation-bar .menu li.selected img {
    filter: brightness(0%);
    visibility: visible;
}

#navigation-bar .menu li span {
    height: 30px;
    display: inline-block;
    box-sizing: border-box;  
    vertical-align: bottom;
    padding-top: 7px;;
}

#navigation-bar .personal-menu {
    list-style: none;
    padding: 0px;
    position: relative;
}

#navigation-bar .personal-menu .menu-label {
    color: rgb(150, 150, 150);
    position: relative;
    left: 20px;
    text-align: left;
    width: 100%;
    display: block;
    font-weight: bold;
}

#navigation-bar .personal-menu li {
    color: rgba(0, 0, 0, 0.7);
    width: 100%;
    padding: 7px 0px 7px 25px;
    margin: 0px;
    text-align: left;
    cursor: pointer;
}

#navigation-bar .personal-menu li:hover {
    background: rgba(0, 0, 0, 0.05);
    color: rgba(0, 0, 0, 0.9);
}

#navigation-bar .personal-menu li.selected {
    background-color: rgba(0, 0, 0, 0.05);
    color: rgba(0, 0, 0, 1);
    font-weight: bold;
    border-right: 4px solid rgb(75, 120, 255);
}

#navigation-bar .personal-menu li a {
    color: inherit;
}

#navigation-bar .personal-menu li a img {
    width: 16px;
    height: 16px;
    filter: brightness(100%);
    margin-right: 5px;
}

#navigation-bar .personal-menu li:hover a img {
    width: 16px;
    height: 16px;
    filter: brightness(0%);
    margin-right: 5px;
}

#navigation-bar .personal-menu li.selected a img {
    filter: brightness(0%);
    display: inline-block;
}

#content {
    padding: 30px 20px;
}

#sidebar {
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    padding: 0;
    margin-top: -20px;
    min-height: 100vh;
    width: 200px;
    display: block;
    text-align: center;
}

#sidebar .profile {
    display: block;
    margin-bottom: 10px;
    overflow: visible;
    position: relative;
    padding-bottom: 20px;
}

#sidebar .profile:after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 10%;
    width: 80%;
    height: 1px;
    background-color: #ccc;
}

#sidebar .profile a {
    color: inherit;
}

#sidebar .profile a:hover {
    text-decoration: underline !important;

}

#sidebar .profile .profile-picture {
    background-color: rgb(240, 240, 240);
    margin: 20px auto;
    border: 5px solid white;
    width: 160px;
    height: 160px;
    border-radius: 80px;
    outline: 1px solid #ccc;
}

#sidebar .profile .fullname {
    font-size: 17px;
    font-weight: bold;
}

#sidebar .profile .username {
    display: inline-block;
    margin-bottom: 10px;
}

#sidebar .profile .position-container {
    display: inline-block;
}

#sidebar .profile .position-tag {
    background: gray;
    color: white;
    padding: 1px 5px;
    border-radius: 5px;
    margin: 2px;
    display: inline-block;
}

#sidebar .profile .position-tag.developer {
    background: darkmagenta;
}

#sidebar .profile .position-tag.manager {
    background: darkblue;
}

#sidebar .profile .position-tag.family-member {
    background: darkgoldenrod;
}

#announcement {
    width: 100%;
    padding: 10px;
    padding-top: 20px;
    max-height: 100%;
    overflow: auto;
    border-bottom: 1px solid #ccc;
    display: none;
}

#announcement .announcement-block {
    margin: 5px !important;
    padding: 5px 10px;
    text-align: left;
}

#announcement .announcement-block .content {
    text-indent: 15px;
    margin: 0;
    padding: 0;
}

#announcement .announcement-block .fullName {
    font-size: 14px;
    text-align: right;
    width: 100%;
    display: block;
}

#announcement .announcement-block .fullName a {
    color: inherit;
}

#announcement .announcement-block .fullName a:hover {
    text-decoration: underline !important;
}

#announcement .alert-warning {
    border-color: #c09000;
}

#breadcrumb {
    font-size: 20px;
    padding: 20px;
    line-height: 26px;
    margin-bottom: -15px;
}

#breadcrumb img {
    width: 26px;
    height: 26px;
    filter: brightness(30%);
    margin: 0px 20px;
    margin-top: -3px;
}

#breadcrumb span {
    margin: 0px 20px;
}

#content {
    padding: 20px;
}

#mobile-navigation-bar {
    z-index: 1000;
    display: none;
}

a {
    color: rgb(100, 100, 100);
    text-decoration: none !important;
}

.content-column {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    max-width: 920px;
}

/* Hide navigation-bar items' labels */

@media (max-width: 1200px) {
    #navigation-bar .personal-menu {
        display: block;
    }

    #navigation-bar .personal-menu li{
        padding-left: 25px;
    }

    .content-column {
        border-right: none;
        min-height: 100vh;
    }
}

@media (max-width: 991px) {
    #navigation-bar {
        display: none;
    }

    .navigation-bar-column,
    .sidebar-column {
        width: 220px !important;
    }

    .content-column {
        border-left: none;
        margin-top: 60px !important;
    }

    #mobile-navigation-bar {
        background: white;
        height: 60px;
        width: 100%;
        border-bottom: 1px solid #ccc;
        display: block;
        position: fixed;
        top: 0px;
        z-index: 1000;
    }

    #mobile-navigation-bar .mobile-logo {
        width: 60px;
        height: 60px;
        padding: 10px;
    }

    #mobile-navigation-bar .app-name {
        color: black;
        font-size: 20px;
        font-weight: bold;
        line-height: 50px;
        display: inline-block;
        vertical-align: middle;
    }

    #mobile-navigation-bar .toggle-button {
        width: 40px;
        height: 40px;
        border: 1px solid #ccc;
        border-radius: 5px;
        display: inline-block;
        position: absolute;
        top: 10px;
        right: 10px;
        padding: 5px;
        cursor: pointer;
    }

    #mobile-navigation-bar .toggle-button img {
        width: 100%;
        height: 100%;
    }
}

/* Mobile mode */
@media (max-width: 550px) {
    #content {
        padding-left: 5px;
        padding-right: 5px;
    }

    #breadcrumb {
        font-size: 16px;
    }

    #breadcrumb span {
        margin: 0px 5px;
    }
}

/* Mobile mode */
@media (max-width: 450px) {
    #content {
        margin: 0px;
        margin-top: var(--navigation-bar-height);
    }
}
