.block {
    background: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 100%;
    padding: 15px;
    margin-bottom: 25px;
}

.block.name .profile-picture {
    background: rgb(240, 240, 240);
    width: 100px;
    height: 100px;
    border: 5px solid white;
    border-radius: 50%;
    outline: 1px solid #ccc;
}

.block.name .profile-picture-column {
    max-width: 100px !important;
}

.block.name .fullname {
    font-size: 22px;
}

.block.name .username {
    font-size: 17px;
}

.block.name .position-container {
    display: inline-block;
}

.block.name .position-container .position-tag {
    background: rgb(128, 128, 128);
    color: white;
    padding: 1px 5px;
    border-radius: 5px;
    margin: 2px;
    display: inline-block;
}

.block.name .position-container .position-tag.developer {
    background: darkmagenta;
}

.block.name .position-container .position-tag.owner {
    background: darkred;
}

.block.name .position-container .position-tag.family-member {
    color: black;
    background: gold;
}

.block.name .position-container .position-tag.manager {
    background: darkblue;
}

.block.name .position-container .position-tag.accountant {
    background: green;
}

.block.name .position-container .position-tag.cashier {
    color: black;
    background: rgb(0, 214, 214);
}

.block.name .position-container .position-tag.staff {
    color: black;
    background: darkorange;
}

.block .personal-info {
    height: 100%;
}

.block.personal-info table {
    table-layout: fixed;
    font-size: 13px;
    border: none;
}

.block.personal-info table td {
    padding: 5px 15px;
}

.block.personal-info .label {
    width: 100px;
    text-align: right;
}

.block.personal-info .field {
    color: darkblue;
    overflow: hidden;
    text-overflow: ellipsis;
    width: calc(100% - 100px);
}

.block.personal-info .field span {
    width: 100%;
    overflow: hidden;
    display: block;
}

.block.personal-info span.null-field {
    color: silver;
}

.block.personal-info .field .badge {
    font-weight: normal;
}

.block.photo-container {
    vertical-align: center;
}

.block.photo-container span {
    color: silver;
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: center;
}

.block.photo-container img {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    object-fit: cover;
}

.block.photo-container img:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.block.photo-container, .links {
    height: 100%;
}

.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}

.row > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

@media (max-width: 991px) {
}

@media (max-width: 480px) {
    .block.name .profile-picture {
        width: 80px;
        height: 80px;
    }

    .block.name .fullname {
        font-size: 1.1em;
    }

    .block.name .username {
        font-size: 1em;
    }
}